body{
    background-color: lightgrey;
}

header{
    background-color: #4733e1;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    border-radius: 15px;
}
header h1{
    color: white;
    padding-top: 20px;
}
nav{
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
nav a:visited{
    color: rgb(177, 1, 177);
}
nav a:hover{
    background-color: #4733e1;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
nav a:active{
    color: white;
    background-color: rgb(177, 1, 177);
}

main{
    padding-top: 7px;
}
.imagens img{
    height: auto;
    width: 32.2%;
    margin: 5px;
}

footer{
    background-color: #4733e1;
    padding: 4px;
}
footer p{
    text-align: center;
    color: white;
}

fieldset{
    margin: 15px;
}

#Fotografias h3, #Video h3, #Poema h3, #Multimedia h3, #Topic h3{
    color: #4733e1;
    font-size: 24px;
    border-bottom: 2px solid #4733e1;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 75px;
}
#Fotografias p{
    text-align: center;
} 
#Fotografias img{
    cursor: zoom-in;
}

#Fotografias iframe{
    display: block; 
    margin: 0 auto;
}
#Video iframe{
    display: block; 
    margin: 0 auto;
}

#Poema h4, pre{
    text-align: center;
}
#Multimedia{
    text-align: center;
}
#Topic li{
    margin: 20px;
}

label {
    font-size: small;
}

input {
    font-size: medium;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

.lab5 ul li a, ol li a{
    text-decoration: none;
}
.lab5 ul li a:hover, ol li a:hover{
    background-color: aquamarine;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
}
.lab5 ol{
    list-style-type: upper-roman;
}
.lab5 ul{
    list-style: circle;
}
.lab5 li{
    font-size: 2em;
}
.lab5 li:nth-child(odd){
    color: #100375;
}
.lab5 li:nth-child(even){
    color: #4733ff;
}
.lab5 li:nth-child(odd) a{
    color: #100375;
}
.lab5 li:nth-child(even) a{
    color: #4733ff;
}

.lab5 tr:nth-child(odd) td:nth-child(odd){
    color: white;
    background-color: #4733e1;
}
.lab5 tr:nth-child(odd) td:nth-child(even){
    color: white;
    background-color: #4733ff;
}

.IframeCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.porto{
    text-transform: uppercase;
}

*p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lab5 table{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


